<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback - GateMaster</title>
</head>
<style>
    form
    {
        clear: left;
    }
    br
    {
        clear: both;
    }
    textarea
    {
        float: right;
    }
</style>
<body>
    <header>
        <div>
        <img src="../GateMaster/Logo.jpeg" width="30%" height="30%">
        </div>
    </header>
    <nav>
        <div>
        <a href="GateMaster Homepage.html">Home</a>
        <a href="GateMaster Streams.html">Streams</a>
        <a href="Mentor.html">Mentor</a>
        <a href="About Gate.html">About GATE</a>
        <a href="Log Out.html">Log Out</a>
        </div>
    </nav>
    <ul><h3><u>Reviews & Feedback</u></h3></ul>
    <ul><aside>We here at GateMaster take our user's reviews and feedbacks very seriously. It helps us to make our website even better and easy to use. We welcome you to review our website and provide us with any feedbacks and suggestions (if any).</aside></ul>
    <br>
    <br>
    <form action="#">
        <ul>Name:* <input type="text" name="name" id="name" required></ul>
        <ul>Contact:* <input type="number" name="contact" id="contact"></ul>
        <ul>Email:* <input type="email" name="email" id="email" required></ul>
        <fieldset>
            <legend>How did you like our overall Website?</legend>
            <input type="radio" name="rating" id="5 star"><label for="5 star">Excellent</label><br>
            <input type="radio" name="rating" id="4 star"><label for="4 star">Pretty Good</label><br>
            <input type="radio" name="rating" id="3 star"><label for="3 star">Average</label><br>
            <input type="radio" name="rating" id="2 star"><label for="2 star">Could be better </label><br>
            <input type="radio" name="rating" id="1 star"><label for="1 star">Bad</label><br>
        </fieldset>
        <fieldset>
            <legend>How was the study material on this site?</legend>
            <input type="radio" name="rating" id="5 star"><label for="5 star">Excellent</label><br>
            <input type="radio" name="rating" id="4 star"><label for="4 star">Pretty Good</label><br>
            <input type="radio" name="rating" id="3 star"><label for="3 star">Average</label><br>
            <input type="radio" name="rating" id="2 star"><label for="2 star">Could be better </label><br>
            <input type="radio" name="rating" id="1 star"><label for="1 star">Bad</label><br>
        </fieldset>   
        <fieldset>
            <legend>Was the information regarding GATE accurate and helpful?</legend>
            <input type="radio" name="rating" id="5 star"><label for="5 star">Excellent</label><br>
            <input type="radio" name="rating" id="4 star"><label for="4 star">Pretty Good</label><br>
            <input type="radio" name="rating" id="3 star"><label for="3 star">Average</label><br>
            <input type="radio" name="rating" id="2 star"><label for="2 star">Could be better </label><br>
            <input type="radio" name="rating" id="1 star"><label for="1 star">Bad</label><br>
        </fieldset>
        <fieldset>
            <legend>Was our Mentor able to solve your doubts and accordingly guide you?</legend>
            <input type="radio" name="rating" id="5 star"><label for="5 star">Excellent</label><br>
            <input type="radio" name="rating" id="4 star"><label for="4 star">Pretty Good</label><br>
            <input type="radio" name="rating" id="3 star"><label for="3 star">Average</label><br>
            <input type="radio" name="rating" id="2 star"><label for="2 star">Could be better </label><br>
            <input type="radio" name="rating" id="1 star"><label for="1 star">Bad</label><br>
        </fieldset>
        <p>
            &nbsp;&nbsp;Feedback/Suggestions:<textarea name="Feedback" id="Feedback" cols="207" rows="10" placeholder="Any suggestions or Feedback you want ot give..."></textarea>
        </p>
        <br>
        <ul>
            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
        </ul>
        <ul>You can also write us your Feedback/Suggestions on: support_GateMaster@gmail.com </ul>
    </form>
    <footer>
        <nav>
            <a href="About Us.html">About Us</a>
            <a href="Terms of Use.html">Terms of Use</a>
            <a href="Contact.html">Contact Us</a>
            <a href="Feedback.html">Reviews and Feedback</a>
            <a href="Privacy Policy.html">Privacy Policy</a>
            <a href="">&copy;2021 | GateMaster Educational Services Pvt.Ltd.</a>
        </nav> 
    </footer>
</body>
</html>