<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy - GateMaster</title>
</head>
<style>
.container{
    display: flex;
}
</style>
<body>
    <header>
        <div>
        <img src="../GateMaster/Logo.jpeg" width="30%" height="30%">
        </div>
    </header>
    <nav>
        <div>
        <a href="GateMaster Homepage.html">Home</a>
        <a href="GateMaster Streams.html">Streams</a>
        <a href="Mentor.html">Mentor</a>
        <a href="About Gate.html">About GATE</a>
        <a href="Log Out.html">Log Out</a>
        </div>
    </nav>
    <div class="container">
        <div><h3><u>Our Mentor</u></h3></div>
    <ul>Mr. Ameya Jangam who has been a guiding light to numerous students in the past has partnered with us to mentor our students here at GateMaster. He himself is a Mechanical Engineer from NIT Surat who sat for GATE Examination in the year 2019. He scored a handsome 88 out of 100 marks in the ME paper and was one of the leading scorers that year. Through his GATE score he got recruited in Bharat Coking Coal Ltd. and is currently working there. </ul>
    <ul>Any student with any query or doubts related to GATE or PSU sector placements through GATE score can write down to him at: Mentor_GateMaster@gmail.com</ul>
    </div>
    <footer>
        <nav>
            <a href="About Us.html">About Us</a>
            <a href="Terms of Use.html">Terms of Use</a>
            <a href="Contact.html">Contact Us</a>
            <a href="Feedback.html">Reviews and Feedback</a>
            <a href="Privacy Policy.html">Privacy Policy</a>
            <a href="">&copy;2021 | GateMaster Educational Services Pvt.Ltd.</a>
        </nav> 
    </footer>
</body>
</html>