<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage - GateMaster</title>
</head>
<body>
    <header>
        <div>
        <img src="../GateMaster/Logo.jpeg" width="30%" height="30%">
        GateMaster Streams.html </div>
    </header>
    <nav>
        <div>
        <a href="GateMaster Homepage.html">Home</a>
        <a href="GateMaster Streams.html">Streams</a>
        <a href="Mentor.html">Mentor</a>
        <a href="About Gate.html">About GATE</a>
        <a href="Log Out.html">Log Out</a>
        </div>
    </nav>
    <main>

    </main>
    <footer>
        <nav>
            <a href="/aboutus">About Us</a>
            <a href="Terms of Use.html">Terms of Use</a>
            <a href="Contact.html">Contact Us</a>
            <a href="Feedback.html">Reviews and Feedback</a>
            <a href="Privacy Policy.html">Privacy Policy</a>
            <a href="#">&copy;2021 | GateMaster Educational Services Pvt.Ltd.</a>
        </nav> 
    </footer>
</body>
</html>