<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - GateMaster</title>
</head>
<body>
    <header>
        <div>
        <img src="../GateMaster/Logo.jpeg" width="30%" height="30%">
        </div>
    </header>
    <nav>
        <div>
        <a href="GateMaster Homepage.html">Home</a>
        <a href="GateMaster Streams.html">Streams</a>
        <a href="Mentor.html">Mentor</a>
        <a href="About Gate.html">About GATE</a>
        <a href="Log Out.html">Log Out</a>
        </div>
    </nav>
        <ul><h3><u>Contact Us</u></h3></ul>
        <ul><li>Student Support Centre (10 AM to 6 PM) : 9983409000</li></ul>
        <ul><li>Enquiry Call or Whatsapp : 9983407000</li></ul>
        <ul><li>For any Technical assistance: 9983408000</li></ul>
        <ul><li>For any query, assistance or feedback you can also write us on : GateMasterEdu@gmail.com</li></ul>
    <footer>
        <nav>
            <a href="About Us.html">About Us</a>
            <a href="Terms of Use.html">Terms of Use</a>
            <a href="Contact.html">Contact Us</a>
            <a href="Feedback.html">Reviews and Feedback</a>
            <a href="Privacy Policy.html">Privacy Policy</a>
            <a href="">&copy;2021 | GateMaster Educational Services Pvt.Ltd.</a>
        </nav> 
    </footer>
</body>
</html>