<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of Use - GateMaster</title>
</head>
<body>
    <header>
        <div>
        <img src="../GateMaster/Logo.jpeg" width="30%" height="30%">
        </div>
    </header>
    <nav>
        <div>
        <a href="GateMaster Homepage.html">Home</a>
        <a href="GateMaster Streams.html">Streams</a>
        <a href="Mentor.html">Mentor</a>
        <a href="About Gate.html">About GATE</a>
        <a href="Log Out.html">Log Out</a>
        </div>
    </nav>
        <ul><h3><u>Terms of Use</u></h3></ul>
        <ul>
            <li>
                The logo and content of the site are copyright and sole property of ‘GateMaster Educational Services Private Limited’ and may not be copied, used or reproduced for any purpose, commercial or otherwise, without the explicit permission of GateMaster.
            </li>
            <br>
            <li>
                The content on our site is completely free and one must not sell the study material provided by the site to anyone in any form for financial benefit.
            </li>
            <br>
            <li>
                This site is for anyone who wants to crack GATE examination and not for those who want to exploit our content. 
            </li>
            <br>
            <li>
                GateMaster does not take any responsibility for the accuracy or correctness of data provided in various study material such as notes, video lectures or Question papers.
            </li>
        </ul>
    <!-- <footer>
        <nav>
            <a href="About Us.html">About Us</a>
            <a href="Terms of Use.html">Terms of Use</a>
            <a href="Contact.html">Contact Us</a>
            <a href="Feedback.html">Reviews and Feedback</a>
            <a href="Privacy Policy.html">Privacy Policy</a>
            <a href="">&copy;2021 | GateMaster Educational Services Pvt.Ltd.</a>
        </nav> 
    </footer> -->
</body>
</html>