<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GateMaster | Streams</title>
</head>
<body>
    <header>
        <div>
        <img src="Notes/Logo.jpeg" width="20%" height="20%">
        </div>
    </header>
    <nav>
        <div>
        <a href="GateMaster Homepage.html">Home</a>
        <a href="GateMaster Streams.html">Streams</a>
        <a href="Mentor.html">Mentor</a>
        <a href="About Gate.html">About GATE</a>
        <a href="Log Out.html">Log Out</a>
        </div>
    </nav>
    <br>
        <div>
            <h1>STREAMS</h1>
        </div>
    <div class="container">
        <ul>
            <li>
                <div class="bottom">         
                    <img src="Notes/CS.jpg" width="250" height="250" class="img-fluid">
                </div>
                <div class="top">
                    <ul>
                        <a href="../Web-Mini-Project/GateMaster Subject CSE.html" style="color: white;"> CSE and IT </a>
                    </ul>
                </div>
            </li>
            <li>
                <div class="bottom">
                    <img src="Notes/EC.jpg" width="250" height="250" class="img-fluid">
                </div>
                <div class="top">
                    <ul>Electronic Engineering</ul>
                </div>
            </li>
            <li>
                <div class="bottom">
                    <img src="Notes/ME.jpg" width="250" height="250" class="img-fluid">
                </div>
                <div class="top">
                    <ul>Mechanical Engineering</ul>
                </div>
            </li>
            <li>
                <div class="bottom">
                    <img src="Notes/IN.png" width="250" height="250" class="img-fluid">
                </div>
                <div class="top">
                    <ul>Instrumentation Engineering</ul>
                </div>
            </li>
            <li>
                <div class="bottom">
                    <img src="Notes/CE.jpg" width="250" height="250" class="img-fluid">
                </div>
                <div class="top">
                    <ul>Civil Engineering</ul>
                </div>
            </li>
            <li>
                <div class="bottom">
                    <img src="Notes/EE.jpg" width="250" height="250" class="img-fluid">
                </div>
                <div class="top">
                    <ul>Electrical Engineering</ul>
                </div>
            </li>
        </ul>
    </div>
    <footer>
        <nav>
            <a href="About Us.html">About Us</a>
            <a href="Terms of Use.html">Terms of Use</a>
            <a href="Contact.html">Contact Us</a>
            <a href="Feedback.html">Reviews and Feedback</a>
            <a href="Privacy Policy.html">Privacy Policy</a>
            <a href="">&copy;2021 | GateMaster Educational Services Pvt.Ltd.</a>
        </nav> 
    </footer>
</body>
</html>