<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy - GateMaster</title>
</head>
<body>
    <header>
        <div>
        <img src="../GateMaster/Logo.jpeg" width="30%" height="30%">
        </div>
    </header>
    <nav>
        <div>
        <a href="GateMaster Homepage.html">Home</a>
        <a href="GateMaster Streams.html">Streams</a>
        <a href="Mentor.html">Mentor</a>
        <a href="About Gate.html">About GATE</a>
        <a href="Log Out.html">Log Out</a>
        </div>
    </nav>
    <ul><h3><u>Privacy Policy</u></h3></ul>
    <ul>This privacy policy has been compiled to better serve those who are concerned with how their ‘Personally identifiable information’ (PII) is being used online. PII, as used in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</ul>
    <ul>
        <li><b>What personal information do we collect from the people that visit our website?</b></li>
        When registering on our website, as appropriate, you may be asked to enter your name, email address, phone number or other details to help you with your experience.
    </ul>
    <br>
    <ul>
        <li><b>When do we collect this information?</b></li>
        When registering or giving feedback on our site, as appropriate, you may be asked to enter your name, email address, phone number or other details to help you with your experience.
    </ul>
    <br>
    <ul>
        <li><b>How do we use this information?  </b></li>
        We use this information to enhance your overall experience while you are on our website.
    </ul>
    <br>
    <ul>
        <li><b>How do we protect visitor information?</b></li>  
        Our website is scanned on a regular basis for security holes and known vulnerabilities in order to make your visit to our site as safe as possible.
        Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential.
        We implement a variety of security measures when a user places an order to maintain the safety of your personal information.
    </ul>
    <br>
    <ul>
        <li><b>Third party Disclosure</b></li>
        We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information unless we provide you with advance notice.         
    </ul>
    <br>
    <ul>
        <li><b>Third party links</b></li>
        Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.
    </ul>        
    <br>    
    <ul>
        For any further queries regarding our privacy policy you can write us down at: support_GateMaster@gmail.com
    </ul>
    <footer>
        <nav>
            <a href="About Us.html">About Us</a>
            <a href="Terms of Use.html">Terms of Use</a>
            <a href="Contact.html">Contact Us</a>
            <a href="Feedback.html">Reviews and Feedback</a>
            <a href="Privacy Policy.html">Privacy Policy</a>
            <a href="">&copy;2021 | GateMaster Educational Services Pvt.Ltd.</a>
        </nav> 
    </footer>
</body>
</html>