<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Gate - GateMaster</title>
</head>
<body>
    <header>
        <div>
            <img src="assets/images/Logo.jpeg" width="30%" height="30%">
        </div>
    </header>
    <nav>
        <div>
        <a href="GateMaster Homepage.html">Home</a>
        <a href="GateMaster Streams.html">Streams</a>
        <a href="Mentor.html">Mentor</a>
        <a href="About Gate.html">About GATE</a>
        <a href="Log Out.html">Log Out</a>
        </div>
    </nav>
    <div><h3> <u>Gate Exam Details</u> </h3></div>
    <ul>
        <li>Graduate Aptitude Test in Engineering (GATE) is an all India examination that primarily tests the comprehensive understanding of various undergraduate subjects in Engineering and Technology. GATE is conducted jointly by the Indian Institute of Science and seven IITs (IIT Bombay, IIT Delhi, IIT Guwahati, IIT Kanpur, IIT Kharagpur, IIT Madras and IIT Roorkee) on behalf of the National Coordination Board – GATE, Department of Higher Education, Ministry of Human Resource Development (MHRD), and Government of India.Organising Institute for GATE 2022 is Indian Institute of Technology (IIT) Kharagpur. 
        </li>
    
        <li>
        Qualifying in GATE is a mandatory requirement for seeking admission and/or financial assistance to Postgraduate Programs (Master's and Doctoral) with Ministry of Education (MoE) and other Government Scholarships / Assistantships, subject to the admission criteria of the admitting institute.
        </li>
    
        <li>
        The GATE score is also used by some Public Sector Undertakings (PSUs) for their recruitment and by several other universities in India and abroad for admissions. GATE exam score will remain valid for <b> THREE YEARS </b> from the date of announcement of results.
        </li>   
    </ul>

    <div><img src="../GateMaster/Gate Conducting Institutes.jpeg" alt=""></div>

    <div><h3> <u>Eligibility Criteria</u> </h3></div>
    <ol>
        <li>A candidate who is currently studying in the 3rd or higher years of any undergraduate degree program.</li>
        
        <li>A candidate who has already completed any government approved degree program in Engineering / Technology / Architecture / Science / Commerce / Arts is eligible for appearing in the GATE 2022 exam.</li>
        
        <li>However, the candidates who possess certification from any of the professional societies must ensure that those examinations conducted by the societies are approved by MoE/AICTE/UGC/UPSC as equivalent to B.E. / B.Tech. / B.Arch. / B.Planning, etc.</li>
        
        <li>Candidates who have obtained / are pursuing their qualifying degree from countries other than India: Must be currently in the 3rd or higher years or completed their Bachelor’s degree (duration: at least 3 years) in Engineering / Technology / Science / Arts / Commerce.</li>
    </ol>    

    <div><h3><u>Marks Distribution</u></h3></div>
    
    <ul>In the GATE Examination there are a total of 65 questions carrying 100 marks, out of which 10 questions carrying a total of 15 marks are on General Aptitude (GA), which is intended to test the Language and Analytical Skills. The Engineering Mathematics section carries another 15 marks which is common to all Engineering subjects. Rest 70 marks is devoted to the subject of the paper.</ul>

    <div>
        <h3><u>Previous Year Cutoff (Out of 100)</u></h3>
        <table>
            <thead>
                <tr>
                    <th>Stream</th>
                    <th>General</th>
                    <th>OBC/NCL</th>
                    <th>SC/ST/PWD</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Computer Science/Information Technology</td>
                    <td>25</td>
                    <td>22.5</td>
                    <td>16.6</td>
                </tr>
                <tr>
                    <td>Instrumentation Engineering</td>
                    <td>31.9</td>
                    <td>28.7</td>
                    <td>21.3</td>
                </tr>
                <tr>
                    <td>Electronics and Telecommunication Engineering</td>
                    <td>26.7</td>
                    <td>24</td>
                    <td>17.8</td>
                </tr>
                <tr>
                    <td>Electrical Engineering</td>
                    <td>39.6</td>
                    <td>35.6</td>
                    <td>26.4</td>
                </tr>
                <tr>
                    <td>Mechanical Engineering</td>
                    <td>34.1</td>
                    <td>30.7</td>
                    <td>22.7</td>
                </tr>
                <tr>
                    <td>Civil Engineering</td>
                    <td>28.2</td>
                    <td>25.4</td>
                    <td>18.8</td>
                </tr>
            </tbody>
        </table>
    </div>   
    
    <div>
        <h3><u>GATE 2022 Important Dates</u></h3>
        <table>
            <thead>
                <tr>
                    <th>Activity</th>
                    <th>Day</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Online Application Process Opens</td>
                    <td>Thursday</td>
                    <td>2<sup>nd</sup> September 2021</td>
                </tr>
                <tr>
                    <td>Closing Date of <b>Regular</b> Online Registration/Application Process</td>
                    <td>Friday</td>
                    <td>24<sup>th</sup> September 2021</td>
                </tr>
                <tr>
                    <td>Closing Date of <b>Extended</b> Online Registration/Application Process</td>
                    <td>Friday</td>
                    <td>1<sup>st</sup> October 2021</td>
                </tr>
                <tr>
                    <td>Display of Defective Applications to rectify</td>
                    <td>Tuesday</td>
                    <td>26<sup>th</sup> October 2021</td>
                </tr>
                <tr>
                    <td>Last date for rectification of Applications</td>
                    <td>Tuesday</td>
                    <td>1<sup>st</sup> NOvember 2021</td>
                </tr>
                <tr>
                    <td>Last Date for change of Category, Paper and Examination City (an additional fee will be applicable)</td>
                    <td>Friday</td>
                    <td>12<sup>th</sup> November 2021</td>
                </tr>
                <tr>
                    <td>Admit card will be available for download</td>
                    <td>Monday</td>
                    <td>3<sup>rd</sup> January 2022</td>
                </tr>
                <tr>
                    <td>GATE 2022 Examination <br> Forenoon: 9:00 AM to 12:00 Noon (Tentative) <br> Afternoon: 2:30 PM to 5:30 PM (Tentative)</td>
                    <td>Saturday <br> Sunday <br> Saturday <br> Sunday</td>
                    <td>5<sup>th</sup> February 2022 <br> 6<sup>th</sup> February 2022 <br> 12<sup>th </sup> February 2022 <br> 13<sup>th</sup> February 2022</td>
                </tr>
                <tr>
                    <td>Announcement of the Results in the Online Application Portal</td>
                    <td>Thursday</td>
                    <td>17<sup>th</sup> March 2022</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h3><u>Application Fee for GATE 2022</u></h3>
        <table>
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Regular Period <br> (30<sup>th</sup> Aug to 24<sup>th</sup> Sept 202)</th>
                    <th>Extedned Period <br> (25<sup>th</sup> Sept to 1<sup>st</sup> Oct 2021 )</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Female Candidates (per paper)</td>
                    <td>&#8377; 750/-</td>
                    <td>&#8377; 1250/-</td>
                </tr>
                <tr>
                    <td>SC/ST/PWD Candidates (per paper)</td>
                    <td>&#8377; 750/-</td>
                    <td>&#8377; 1250/-</td>
                </tr>
                <tr>
                    <td>All other Candidates (per paper)</td>
                    <td>&#8377; 1500/-</td>
                    <td>&#8377; 2000/-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <a target="_blank" href="https://gate.iitkgp.ac.in/apps.html"><h3><b>Apply Online for GATE 2022 Examination</b></h3></a>
    </div>    
    <!-- <footer>
        <nav>
            <a href="/aboutus">About Us</a>
            <a href="Terms of Use.html">Terms of Use</a>
            <a href="Contact.html">Contact Us</a>
            <a href="Feedback.html">Reviews and Feedback</a>
            <a href="Privacy Policy.html">Privacy Policy</a>
            <a href="">&copy;2021 | GateMaster Educational Services Pvt.Ltd.</a>
        </nav> 
    </footer> -->
</body>
</html>