<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <script src="../Web-Mini-Project/jQuery.js"></script> -->
        <title>Homepage - GateMaster</title>
    </head>
    <script>  
    function checkPassword(form) 
    {
		password1 = form.password1.value;
		password2 = form.password2.value;				
		if (password1 != password2) 
        {
			alert ("\nPassword did not match: Please try again...")
			return false;
		}
		else
        {
			alert("\nRegistered Successfully! Welcome to GateMaster!")
			return true;
		}
	}
    $("#date").datepicker();
</script>
    <style>
    /* p
    {
        clear: both;
        font-weight: bolder;
        font-size: inherit;
        float: initial;
    }
    input,select
    {
        width: 70%;
        padding: 10px;
        border: 1px solid #cccc;
        margin-top: 5px;
        margin-bottom: 15px;
        border-radius: 10px;
        float: right;
    }
    input[type="submit"]
    {
        background-color: #4caf50;
        color: #fff;
        padding: 10px 20px;
        border: none;
        float: inline-start;
        cursor: pointer ;
        width: 20%;
        float: none;
    }
    input[type="reset"]
    {
        background-color: #4caf50;
        color: #fff;
        padding: 10px 20px;
        border: none;
        float: inline-end;
        cursor: pointer;
        width: 20%;
        float: none;
    }
    aside
    {
        clear: left;
        float: right;
        width: 40%;
        padding-right: 10px;
        padding-bottom: 10px;
    }
    fieldset
    {
        clear: both;
        border-radius: 20px;
        background: linear-gradient(135deg, #71b7e6, #9b59b6)
    }
    div
    {
        float: left;
    }
    .container
    {
        float: left;
        width: 50%;
        margin: auto;
        overflow: hidden;
        background: white;
        margin-top: 20px;
    }

    .container ul 
    {
        padding: 0px;
        margin: 0px;
    }
    .container ul li
    {
        float:left;
        list-style: none;
        width:42%;
        height:300px;
        background: white;
        margin :20px 0px 20px 55px; 
        border:2px solid blueviolet;
        box-sizing: border-box;
        border-radius: 20px;
    }
    .container ul li .bottom
    {
        width: 100%;
        height: 50px;
        line-height: 50px;
        background: #333;   
        text-align: h5;
        color:white;
        font-size: 20px;
        border-radius: 20px;
    }
    .container ul li .top
    {
        width: 100%;
        height: 200px;
        line-height: 30px;
        font-size: 15px;
        text-align: h5;
        font-weight: bolder;
    } */
</style>
    <body>
        <nav>
            <h5>
                <a href="GateMaster Homepage.html">Home</a>
                <a href="GateMaster Streams.html">Streams</a>
                <a href="Mentor.html">Mentor</a>
                <a href="About Gate.html">About GATE</a>
                <a href="Log Out.html">Log Out</a>
            </h5>
        </nav>
        <header>
            <h5>
                <img src="../GateMaster/Logo.jpeg" width="30%" height="30%">
            </h5>
        </header>
        <br>
        <aside>

            <div *ngIf="otp_page === false">
                <!-- Form -->
                <form id=registrationForm #registrationForm="ngForm"
                    (ngSubmit)="onSubmit(registrationForm)">
                    <div>


                        <!-- Close Icon -->
                        <!-- <p onmouseover="" style="cursor:
                            pointer;text-align:right;font-size:40px;"><a
                                (click)="onClose()" style="color:black"
                                class="close">&times;</a></p> -->
                        <!-- Close Icon -->


                        <!-- Customer Name -->
                        <div class="form-group">
                            <label id="input_label"
                                for="name">Name</label>
                            <input #name="ngModel"
                                required
                                type="text" class="form-control"
                                placeholder="Enter Name"
                                id="name"
                                list="nameList"
                                aria-describedby="name"
                                ngModel
                                name="name">
                        </div>
                        <!-- Customer Name -->

                        <!-- Customer Contact -->
                        <div class="form-group">
                            <label id="input_label"
                                for="contact">Mobile Number</label>
                            <input #contact="ngModel"
                                pattern=\d\d\d\d\d\d\d\d\d\d
                                type="text" class="form-control"
                                id="contact"
                                list="contactList"
                                aria-describedby="contact"
                                placeholder="Enter Mobile Number"
                                ngModel
                                name="contact">

                            <span id="input_label"
                                *ngIf="contact.invalid &&
                                contact.touched"
                                style="color:red"><b>**Mobile Number
                                    Should
                                    be
                                    10 digits</b></span>
                        </div>
                        <!-- Customer Contact -->


                        <!-- Customer Adress -->
                        <div class="form-group">
                            <label id="input_label"
                                for="email">Email</label>
                            <input #email="ngModel"
                                type="text" class="form-control"
                                placeholder="Enter Address"
                                id="email"
                                aria-describedby="email"
                                ngModel
                                name="email">
                        </div>
                        <!-- Customer Adress -->


                        <!-- Customer Aadhar Number -->
                        <div class="form-group">
                            <label id="input_label"
                                for="password">Password</label>
                            <input #password="ngModel"
                                pattern="\d\d\d\d\d\d\d\d\d\d\d\d"
                                type="text" class="form-control"
                                placeholder="Enter Aadhar Number"
                                id="password"
                                aria-describedby="password"
                                ngModel
                                name="password">
                        </div>
                        <!-- Customer Aadhar Number -->


                        <!-- Customer Pan Number -->
                        <div class="form-group">
                            <label id="input_label"
                                for="confirm_password">Cfrm Password</label>
                            <input #confirm_password="ngModel"
                                type="text" class="form-control"
                                placeholder="Enter Pan Number"
                                id="confirm_password"
                                aria-describedby="confirm_password"
                                ngModel
                                name="confirm_password">
                        </div>
                        <!-- Customer Pan Number -->


                        <!-- Customer DOB -->
                        <div class="form-group">
                            <label id="input_label"
                                for="dob">Date of Birth</label>
                            <input #dob="ngModel"
                                type="date" class="form-control"
                                placeholder="Enter Date of Birth"
                                id="dob"
                                aria-describedby="dob"
                                ngModel
                                name="dob">
                        </div>
                        <!-- Customer DOB -->

                        <!-- Stream -->
                        <div class="form-group">

                            <label id="input_label" style="color:black"
                                for="sem">Select
                                Stream</label>
                            <div id="select_semester" class="select"
                                class="input-group mb-3">
                                <select required name="stream" ngModel
                                    class="custom-select"
                                    id="inputGroupSelect01">
                                    <option value="">--Select a Stream--</option>
                                    <option value="CSE">Computer Science
                                        Engineering</option>
                                    <option value="INFT">Information Technology</option>
                                    <option value="INST">Instrumentation
                                        Engineering</option>
                                    <option value="EXTC">Electronics And
                                        Telecommunication Engineering</option>
                                    <option value="ETRX">Electrical Engineering</option>
                                    <option value="ME">Mechanical Engineering</option>
                                    <option value="CE">Civil Engineering</option>
                                </select>
                            </div>

                            <!-- Submit Button -->
                            <div class="form-group">
                                <button id="submit_button" type="submit"
                                    class="btn btn-success">Register</button>
                            </div>
                            <!-- Submit Button -->
                        </div>
                        <!-- Stream -->



                        <div *ngIf="err===true">
                            <h5 style="color:red">**Password and Cfrm Password
                                does not match</h5>
                        </div>


                    </div>
                </form>
                <!-- Form -->
            </div>

            <div *ngIf="otp_page == true">

                <!-- Add Form -->
                <!-- Title -->
                <h3>
                    <br><br><br>
                    <span id="title" class="pacificofont"><b><i>Add Business</i></b></span>
                    <br><br><br>
                </h3>
                <!-- Title -->


                <!-- Form -->
                <form id=otpForm #otpForm="ngForm"
                    (ngSubmit)="sendOTP(otpForm)">

                    <div>

                        <!-- Business Name -->
                        <div class="form-group">
                            <label style="position:relative;top:50px;" id="input_label"
                                for="entered_otp">OTP</label>
                            <input style="position:relative;top:50px;" #entered_otp="ngModel"
                                type="text" class="form-control"
                                placeholder="Enter OTP"
                                id="entered_otp"
                                list="businessList"
                                aria-describedby="entered_otp" ngModel
                                name="entered_otp">
                        </div>
                        <!-- Business Name -->

                        <!-- Submit Button -->
                        <button style="position:relative;top:50px;" id="submit_button" type="submit"
                            class="btn
                            btn-danger">Verify</button>
                        <!-- Submit Button -->

                    </div>
                </form>
                <!-- Form -->
            </div>
            <!-- Add Form -->

        </aside>
        <div class="container">
            <ul>
                <li>
                    <div class="bottom">
                        <ul>Multi-Branches Study Material</ul>
                        <img src="https://img.icons8.com/nolan/120/web.png"
                            class="img-fluid">
                    </div>
                    <div class="top">
                        <ul> <br><br><br><br>Our websites contains video
                            lectures and notes on different topic for better
                            preparation of the students.</ul>
                    </div>
                </li>
                <li>
                    <div class="bottom">
                        <ul>Solve It Now</ul>
                        <img
                            src="https://img.icons8.com/nolan/120/multi-edit.png"
                            class="img-fluid">
                    </div>
                    <div class="top">
                        <ul> <br><br><br><br> Our website also contains previous
                            year Question Papers both with and without
                            solutions, so that students get a fair idea of the
                            exam.</ul>
                    </div>
                </li>
                <li>
                    <div class="bottom">
                        <ul>Question Our Mentor</ul>
                        <img src="https://img.icons8.com/nolan/120/help--v1.png"
                            class="img-fluid">
                    </div>
                    <div class="top">
                        <ul> <br><br><br><br> Our website has a mentor facility
                            which students can avail for a one on one guiding
                            session.</ul>
                    </div>
                </li>
                <li>
                    <div class="bottom">
                        <ul>Review and Feedback</ul>
                        <img
                            src="https://img.icons8.com/nolan/120/financial-growth-analysis.png"
                            class="img-fluid">
                    </div>
                    <div class="top">
                        <ul> <br><br><br><br>Please review our website, the
                            services we provide and also let us know how we can
                            improve ourselves.</ul>
                    </div>
                </li>
            </ul>
        </div>
        <footer>
            <nav>
                <a href="About Us.html">About Us</a>
                <a href="Terms of Use.html">Terms of Use</a>
                <a href="Contact.html">Contact Us</a>
                <a href="Feedback.html">Reviews and Feedback</a>
                <a href="Privacy Policy.html">Privacy Policy</a>
                <a href="">&copy;2021 | GateMaster Educational Services Pvt.Ltd.</a>
            </nav>
        </footer>
    </body>
</html>

<router-outlet></router-outlet>